/* Center all content */

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Experience {
    text-decoration: underline;
}

img {
    width: 200px;
    border-radius: 50%;
}

.Links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10%;
}