/* Center all content */

* {
    font-family: 'Courier New', Courier, monospace;
}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pp {
    width: 150px;
    border-radius: 50%;
}

.Experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.institution {
    width: 100px;
}

.date {
    align-items: center;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}