body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  text-align: center;
}

div {
  text-align: center;
}

.container {
    margin: auto;
    width: 200px;
    height: 150px;
    background: #fff;
    border-radius: 8px;

  }




