body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
}

header {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

ul {
  text-align: center;
}

div {
  text-align: center;
}

button {
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
